H2O flow: where you can check the progress.
Go to website: 127.0.0.1:54321/flow/index.html

In [1]:
import h2o

In [2]:
h2o.init()

Checking whether there is an H2O instance running at http://localhost:54321 . connected.

--------------------------  ------------------------------------------------------------------
H2O cluster uptime:         15 hours 33 mins
H2O cluster timezone:       America/Los_Angeles
H2O data parsing timezone:  UTC
H2O cluster version:        3.28.0.1
H2O cluster version age:    17 days
H2O cluster name:           H2O_from_python_yananli_lpe4uj
H2O cluster total nodes:    1
H2O cluster free memory:    1.623 Gb
H2O cluster total cores:    4
H2O cluster allowed cores:  4
H2O cluster status:         locked, healthy
H2O connection url:         http://localhost:54321
H2O connection proxy:       {u'http': None, u'https': None}
H2O internal security:      False
H2O API Extensions:         Amazon S3, XGBoost, Algos, AutoML, Core V3, TargetEncoder, Core V4
Python version:             2.7.15 final
--------------------------  ------------------------------------------------------------------

In [3]:
url = "http://h2o-public-test-data.s3.amazonaws.com/smalldata/iris/iris_wheader.csv"
iris = h2o.import_file(url)

Parse progress: |█████████████████████████████████████████████████████████| 100%

In [4]:
train, test = iris.split_frame([0.8])

In [5]:
train.summary()

,sepal_len,sepal_wid,petal_len,petal_wid,class
type,real,real,real,real,enum
mins,4.4,2.0,1.0,0.1,
mean,5.89658119658,3.04700854701,3.84957264957,1.24017094017,
maxs,7.9,4.4,6.9,2.5,
sigma,0.818949245189,0.446166168514,1.74423305602,0.751671680559,
zeros,0,0,0,0,
missing,0,0,0,0,0
0,5.0,3.6,1.4,0.2,Iris-setosa
1,5.4,3.9,1.7,0.4,Iris-setosa
2,5.0,3.4,1.5,0.2,Iris-setosa
3,5.4,3.7,1.5,0.2,Iris-setosa
4,4.8,3.4,1.6,0.2,Iris-setosa
5,4.8,3.0,1.4,0.1,Iris-setosa
6,5.8,4.0,1.2,0.2,Iris-setosa
7,5.7,4.4,1.5,0.4,Iris-setosa
8,5.4,3.9,1.3,0.4,Iris-setosa
9,5.1,3.5,1.4,0.3,Iris-setosa

In [6]:
train.nrows

117

In [ ]:
test.nrows

In [7]:
from h2o.estimators.deeplearning import H2ODeepLearningEstimator

mDL = H2ODeepLearningEstimator()
mDL.train(["sepal_len", "sepal_wid", "petal_len", "petal_wid"],"class", train)

deeplearning Model Build progress: |██████████████████████████████████████| 100%

In [8]:
mDL

Model Details
=============
H2ODeepLearningEstimator :  Deep Learning
Model Key:  DeepLearning_model_python_1578017545507_1


Status of Neuron Layers: predicting class, 3-class classification, multinomial distribution, CrossEntropy loss, 41,803 weights/biases, 498.2 KB, 1,170 training samples, mini-batch size 1

,,layer,units,type,dropout,l1,l2,mean_rate,rate_rms,momentum,mean_weight,weight_rms,mean_bias,bias_rms
0,,1,4,Input,0,,,,,,,,,
1,,2,200,Rectifier,0,0,0,0.00484213,0.00352782,0,0.00674495,0.105365,0.485412,0.0115008
2,,3,200,Rectifier,0,0,0,0.0130201,0.0172331,0,5.92347e-05,0.0706147,0.999007,0.00375965
3,,4,3,Softmax,,0,0,0.00439377,0.00502432,0,-0.00442838,0.390548,-0.000303327,0.000388611

ModelMetricsMultinomial: deeplearning
** Reported on train data. **

MSE: 0.0283006970883
RMSE: 0.16822811028
LogLoss: 0.0942909112996
Mean Per-Class Error: 0.034188034188

Confusion Matrix: Row labels: Actual class; Column labels: Predicted class

   Iris-setosa  Iris-versicolor  Iris-virginica     Error     Rate
0         36.0              0.0             0.0  0.000000   0 / 36
1          0.0             35.0             4.0  0.102564   4 / 39
2          0.0              0.0            42.0  0.000000   0 / 42
3         36.0             35.0            46.0  0.034188  4 / 117

Top-3 Hit Ratios:

   k  hit_ratio
0  1   0.965812
1  2   1.000000
2  3   1.000000

Scoring History:

,,timestamp,duration,training_speed,epochs,iterations,samples,training_rmse,training_logloss,training_r2,training_classification_error
0,,2020-01-03 10:12:54,0.000 sec,None,0.0,0,0.0,NaN,NaN,NaN,NaN
1,,2020-01-03 10:12:55,0.819 sec,252 obs/sec,1.0,1,117.0,0.581420,1.273710,0.490918,0.358974
2,,2020-01-03 10:12:55,1.229 sec,1366 obs/sec,10.0,10,1170.0,0.168228,0.094291,0.957381,0.034188

Variable Importances:

    variable  relative_importance  scaled_importance  percentage
0  petal_wid             1.000000           1.000000    0.263685
1  petal_len             0.958165           0.958165    0.252654
2  sepal_len             0.924662           0.924662    0.243820
3  sepal_wid             0.909570           0.909570    0.239840

In [9]:
p = mDL.predict(test)

deeplearning prediction progress: |███████████████████████████████████████| 100%

In [10]:
p

predict,Iris-setosa,Iris-versicolor,Iris-virginica
Iris-setosa,0.999428,0.000571656,2.67477e-18
Iris-setosa,0.996166,0.00383369,8.85782e-17
Iris-setosa,0.999672,0.000328431,3.96673e-18
Iris-setosa,0.999495,0.000504912,1.97136e-17
Iris-setosa,0.999922,7.75478e-05,3.16695e-18
Iris-setosa,0.999448,0.000552389,3.97767e-17
Iris-setosa,0.997676,0.00232411,1.73129e-17
Iris-setosa,0.999888,0.000111972,8.00878e-19
Iris-setosa,0.999874,0.000125716,1.63729e-18
Iris-setosa,0.999463,0.000537388,1.98785e-17

In [11]:
mDL.model_performance(test)

ModelMetricsMultinomial: deeplearning
** Reported on test data. **

MSE: 0.0304489533431
RMSE: 0.174496284611
LogLoss: 0.118882697089
Mean Per-Class Error: 0.030303030303

Confusion Matrix: Row labels: Actual class; Column labels: Predicted class

   Iris-setosa  Iris-versicolor  Iris-virginica     Error    Rate
0         14.0              0.0             0.0  0.000000  0 / 14
1          0.0             10.0             1.0  0.090909  1 / 11
2          0.0              0.0             8.0  0.000000   0 / 8
3         14.0             10.0             9.0  0.030303  1 / 33

Top-3 Hit Ratios:

   k  hit_ratio
0  1   0.969697
1  2   1.000000
2  3   1.000000

AutoML: run through all the major DL models

In [12]:
from h2o.automl import H2OAutoML

mA = H2OAutoML(max_runtime_secs = 30)
mA.train(["sepal_len", "sepal_wid", "petal_len", "petal_wid"],"class", train)

AutoML progress: |███████████████████████████████
10:20:25.260: Skipping training of model GBM_5_AutoML_20200103_102007 due to exception: water.exceptions.H2OModelBuilderIllegalArgumentException: Illegal argument(s) for GBM model: GBM_5_AutoML_20200103_102007.  Details: ERRR on field: _min_rows: The dataset size is too small to split for min_rows=100.0: must have at least 200.0 (weighted) rows, but have only 117.0.


█████████████████████████| 100%

In [18]:
mA

In [14]:
p = mA.leader.predict(test)

glm prediction progress: |████████████████████████████████████████████████| 100%

In [15]:
p

predict,Iris-setosa,Iris-versicolor,Iris-virginica
Iris-setosa,0.999864,0.000135644,3.00272e-27
Iris-setosa,0.998711,0.00128898,9.64981e-25
Iris-setosa,0.999909,9.1204e-05,1.8093e-26
Iris-setosa,0.999883,0.000116681,4.22121e-25
Iris-setosa,0.999975,2.50041e-05,2.28375e-26
Iris-setosa,0.99987,0.000129945,1.13308e-24
Iris-setosa,0.999618,0.00038208,1.24562e-25
Iris-setosa,0.999984,1.5569e-05,1.67948e-27
Iris-setosa,0.999966,3.39085e-05,1.36003e-27
Iris-setosa,0.999885,0.000114906,4.38256e-25

In [17]:
mA.leader.model_performance(test)

ModelMetricsMultinomialGLM: glm
** Reported on test data. **

MSE: 0.0274929165021
RMSE: 0.165809880592